---
import ProjectLayout from '../../components/ProjectLayout.astro';

import heroImage from '../../images/pexels-skylar-kang-6368844.jpeg';
import gridSectionImageOne from '../../images/pexels-dmitry-demidov-3784424.jpeg';
import gridSectionImageTwo from '../../images/pexels-antoni-shkraba-production-8412278.jpeg';
import videoThumbnail from '../../images/pexels-greta-hoffman-7859049.jpeg';
import studioImg from '../../images/pexels-pixabay-164938.jpeg';
import gridSectionImageThree from '../../images/pexels-alena-darmel-7710047.jpeg';
import gridSectionImageFour from '../../images/pexels-george-pak-7968283.jpeg';
import audioMixingImg from '../../images/pexels-pixabay-257904.jpeg';
import officeMeetingImg from '../../images/pexels-christina-morillo-1181622.jpeg';
import officeCollabImg from '../../images/pexels-canva-studio-3153207.jpeg';
import coworkingSpaceImg from '../../images/pexels-marc-mueller-380769.jpeg';
---

<ProjectLayout title="Ableton (Unofficial)">
  <link slot="header" href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;500;600;700&amp;display=swap" rel="stylesheet">

  <nav class="nav">
    <ul class="nav__list">
      <li>
        <a href="#" class="logo">
          <span class="visually-hidden">Home</span>
          <div class="logo__left" aria-hidden="true">
            <span></span><span></span><span></span><span></span>
          </div>
          <div class="logo__right" aria-hidden="true">
            <span></span><span></span><span></span><span></span>
          </div>
        </a>
      </li>
      <li class="nav__list__item"><a href="#">Live</a></li>
      <li class="nav__list__item"><a href="#">Push</a></li>
      <li class="nav__list__item"><a href="#">Link</a></li>
      <li class="nav__list__item"><a href="#">Shop</a></li>
      <li class="nav__list__item"><a href="#">Packs</a></li>
      <li class="nav__list__item"><a href="#">Help</a></li>
      <li class="nav__list__item"><button>More +</button></li>
    </ul>
    <ul class="nav__list">
      <li class="nav__list__item"><a href="#">Try Live for free</a></li>
      <li class="nav__list__item"><a href="#"><small>Log in or register</small></a></li>
    </ul>
  </nav>

  <nav class="nav nav--secondary">
    <ul class="nav__list">
      <li class="nav__list__item active"><a href="#">About</a></li>
      <li class="nav__list__item"><a href="#">Jobs</a></li>
      <li class="nav__list__item"><a href="#">Apprenticeships</a></li>
    </ul>
  </nav>

  <main>
    <section class="hero">
      <div class="hero__img-container">
        <img src={heroImage} alt="An acoustic guitar resting on a stand in a home office">
        <h1>Ableton</h1>
      </div>
    </section>

    <section class="text-container">
      <p class="lead">We make <a href="#">Live</a>, <a href="#">Push</a> and <a href="#">Link</a> — unique software and hardware for music creation and performance. With these products, our community of users creates amazing things.</p>
      <p>Ableton was founded in 1999 and released the first version of Live in 2001. Our products are used by a community of dedicated musicians, sound designers, and artists from across the world.</p>
    </section>

    <section class="grid-background-right">
      <div class="grid-background-right__background" aria-hidden="true"></div>
      <div class="grid-background-right__img-container__left">
        <img src={gridSectionImageOne} alt="Close up of an audio mixer">
      </div>
      <div class="grid-background-right__img-container__right">
        <img src={gridSectionImageTwo} alt="A man wearing headphones while singing into a standing microphone.">
      </div>
    </section>

    <section class="text-container">
      <p class="lead">Making music isn't easy. It takes time, effort, and learning. But when you're in the flow, it's incredibly rewarding.</p>
      <p>We feel the same way about making Ableton products. The driving force behind Ableton is our passion for what we make, and the people we make it for.</p>
    </section>

    <section class="video-container">
      <div class="video-player">
        <img src={videoThumbnail} alt="A smiling woman speaking with a reporter.">

        <button type="button">
          <div class="visually-hidden">Play Button Placeholder</div>
        </button>
      </div>

      <p class="caption">Why Ableton - Greta Hoffman</p>
    </section>

    <section class="text-container">
      <p class="lead">We are more than 350 people from 30 different countries divided between our headquarters in Berlin and our offices in Los Angeles and Tokyo.</p>
      <p>Most of us are active musicians, producers, and DJs, and many of us use Live and Push every day. We come from a wide range of cultural and professional backgrounds. Some of us have PhDs, some are self-taught, and most of us are somewhere in between. What connects us is the shared belief that each of us has the skills and knowledge to contribute to something big: helping to shape the future of music culture.</p>
    </section>

    <section class="grid-background-left">
      <div class="grid-background-left__background" aria-hidden="true"></div>
      <div class="grid-background-left__img-container__left grid-background-left__img-container__left--first">
        <img src={gridSectionImageThree} alt="A woman writing on a whiteboard covered in yellow sticky notes.">
      </div>
      <div class="grid-background-left__img-container__left grid-background-left__img-container__left--second">
        <img src={gridSectionImageFour} alt="Two backpackers entering a city hostel.">
      </div>
      <div class="grid-background-left__img-container__right">
        <img src={studioImg} alt="A padded room with an audio mixing table and four large standing speakers">
      </div>
    </section>

    <section class="text-container">
      <p class="lead">We believe it takes focus to create truly outstanding instruments. We only work on a few products and we strive to make them great.</p>
      <p>Rather than having a one-size-fits-all process, we try to give our people what they need to work their magic and grow. We've learned that achieving the best results comes from building teams that are richly diverse, and thus able to explore problems from a wider set of perspectives. We don't always agree with each other, but opinion and debate are valued and openly encouraged.</p>
    </section>

    <section class="img-container">
      <img src={audioMixingImg} alt="Desktop monitor with an audio mixing program open.">
    </section>

    <section class="text-container">
      <p class="lead">We're passionate about what we do, but we're equally passionate about improving who we are.</p>
      <p>We work hard to foster an environment where people can grow both personally and professionally, and we strive to create a wealth of opportunities to learn from and with each other.</p>
      <p>Alongside an internal training program, employees are actively supported in acquiring new knowledge and skills, and coached on applying these in their daily work. In addition, staff-organized development and music salons are a chance to discuss new technologies, production techniques and best practices.</p>
    </section>

    <section class="grid-background-center">
      <div class="grid-background-center__background" aria-hidden="true"></div>
      <div class="grid-background-center__img-container__left">
        <img src={officeCollabImg} alt="Four people collaborating around two laptops.">
      </div>
      <div class="grid-background-center__img-container__right">
        <img src={officeMeetingImg} alt="A group of people having a meeting in an conference room.">
      </div>
    </section>

    <section class="text-container">
      <p class="lead">We want our employees to love it here. Since we're looking for exceptional talent from around the world, we will do everything we can to make your transition as easy as possible.</p>
      <p>If you're joining us in Berlin, we'll help with relocation and paperwork. We'll even provide you with free German or English lessons. Plus, working in Germany means you can expect comprehensive health insurance for you and your family, as well as generous maternity and paternity leave. Office hours are flexible, but it's not all work; we have several company and team outings throughout the year as well as a variety of fun, informal small-group activities.</p>
    </section>

    <section class="call-to-action">
      <div class="call-to-action__content">
        <div class="call-to-action__column">
          <img src={coworkingSpaceImg} alt="Shoulder shot of a coworking space.">
        </div>
        <div class="call-to-action__column">
          <div>
            <p class="lead">We're really proud of the work we've done so far. But there's so much more to come. If you'd like to be a part of it, please join us.</p>
            <a href="#">See latest jobs <svg xmlns="http://www.w3.org/2000/svg" role="img" aria-hidden="true"><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path></svg></a>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer class="footer">
    <div class="footer__content">
      <h2>Ableton</h2>
      <nav class="footer__grid">
        <div class="footer__nav-one">
          <ul>
            <li><a href="#">Register Live or Push <svg xmlns="http://www.w3.org/2000/svg" role="img" aria-hidden="true"><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path></svg></a></li>
            <li><a href="#">About Ableton <svg xmlns="http://www.w3.org/2000/svg" role="img" aria-hidden="true"><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path></svg></a></li>
            <li><a href="#">Jobs <svg xmlns="http://www.w3.org/2000/svg" role="img" aria-hidden="true"><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path></svg></a></li>
          </ul>
        </div>
        <div class="footer__nav-two">
          <h3>Education</h3>
          <ul>
            <li><a href="#">Offers for students and teachers <svg xmlns="http://www.w3.org/2000/svg" role="img" aria-hidden="true"><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path></svg></a></li>
            <li><a href="#">Ableton for the Classroom <svg xmlns="http://www.w3.org/2000/svg" role="img" aria-hidden="true"><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path></svg></a></li>
            <li><a href="#">Ableton for Colleges and Universities <svg xmlns="http://www.w3.org/2000/svg" role="img" aria-hidden="true"><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path></svg></a></li>
          </ul>
        </div>
        <div class="footer__nav-form">
          <h3>Sign up to our newsletter</h3>
          <p>Enter your email address to stay up to date with the latest offers, tutorials, downloads, surveys and more.</p>
          <form action="#" class="signup-form">
            <label for="email" class="visually-hidden">Email Address</label>
            <input type="text" name="email" id="email" placeholder="Email Address">

            <input type="submit" value="Sign up" disabled>
          </form>
        </div>
        <div class="footer__nav-three">
          <h3>Community</h3>
          <ul>
            <li><a href="#">Find Ableton User Groups <svg xmlns="http://www.w3.org/2000/svg" role="img" aria-hidden="true"><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path></svg></a></li>
            <li><a href="#">Find Certified Training <svg xmlns="http://www.w3.org/2000/svg" role="img" aria-hidden="true"><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path></svg></a></li>
            <li><a href="#">Become a Certified Trainer <svg xmlns="http://www.w3.org/2000/svg" role="img" aria-hidden="true"><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path></svg></a></li>
          </ul>
        </div>
        <div class="footer__nav-four">
          <h3>Distributors</h3>
          <ul>
            <li><a href="#">Find Distributors <svg xmlns="http://www.w3.org/2000/svg" role="img" aria-hidden="true"><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path></svg></a></li>
            <li><a href="#">Try Push in-store <svg xmlns="http://www.w3.org/2000/svg" role="img" aria-hidden="true"><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path></svg></a></li>
          </ul>
        </div>
        <div class="footer__country-lang-picker">
          <h3>Language and Location</h3>
          <select name="language" id="language">
            <option value="en" selected>English</option>
            <option value="de">Deutsch</option>
            <option value="fr">Français</option>
            <option value="ja">日本語</option>
            <option value="zh-cn">简体中文</option>
          </select>
          <select name="country" id="country">
            <option value="us" selected>United States</option>
            <option value="uk">United Kingdom</option>
            <option value="fr">France</option>
            <option value="de">Germany</option>
            <option value="ca">Canada</option>
            <option value="ja">Japan</option>
            <option value="cn">China</option>
          </select>
        </div>
      </nav>
      <div class="footer__secondary-nav">
        <nav>
          <ul>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Press Resources</a></li>
            <li><a href="#">Legal Info</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Cookie Settings</a></li>
            <li><a href="#">Imprint</a></li>
          </ul>
        </nav>
        <div class="footer__secondary-nav__brand">
          <span>Made in Berlin</span>
          <a href="#" class="logo">
            <span class="visually-hidden">Home</span>
            <div class="logo__left" aria-hidden="true">
              <span></span><span></span><span></span><span></span>
            </div>
            <div class="logo__right" aria-hidden="true">
              <span></span><span></span><span></span><span></span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </footer>
</ProjectLayout>

<style lang="scss">
  /* I switched to scss pretty early but for some reason still stuck with css vars? */
  :root {
    --yellow: #fbffa7;
    --orange: #ff764d;
    --burnt-orange: #fd5948;
    --light-blue: #b1c5ff;
    --blue: #0000ff;
    --green: #b6ffc0;
    --purple: #d5b3ff;
    --light-gray: #eee;

    --font-sans: 'PT Sans', sans-serif;
  }

  html {
    font-family: var(--font-sans);
  }

  a {
    color: var(--blue);
    text-decoration: none;

    &::selection {
      background-color: var(--blue);
      color: white;
    }
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }

  p {
    font-size: 1.125rem;
    line-height: 1.5;
    font-weight: 400;

    &::selection {
      background-color: var(--blue);
      color: white;
    }
  }

  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  .lead {
    font-size: 1.875rem;
    font-weight: 500;
  }

  .logo {
    display: flex;
    gap: 4px;
    height: 28px;
    width: 60px;

    &__left,
    &__right {
      display: flex;
      flex: 1 1 50%;
      gap: 4px;

      span {
        background-color: black;
        display: inline-block;
        flex: 1 1 100%;
        height: 100%;
        width: 4px;
      }
    }

    &__right {
      flex-direction: column;

      span {
        height: 4px;
        width: 100%;
      }
    }
  }

  .nav {
    background: white;
    border-bottom: 2px solid var(--light-gray);
    display: flex;
    justify-content: space-between;
    padding: 1.25rem 2.5rem;
    margin: 0 auto;

    $this: &;

    button {
      color: var(--orange);
      font-family: var(--font-sans);
      font-size: 1.25rem;
      border-color: transparent;
      background-color: transparent;
    }

    &__list {
      align-items: center;
      display: flex;
      gap: 2.5rem;
      list-style: none;
      margin: 0;
      padding: 0;

      &__item {
        display: none;
        padding: 0;
        margin: 0;
        font-size: 1.25rem;

        @media screen and (min-width: 992px) {
          display: block;
        }

        a {
          color: black;
          font-weight: 400;

          &:hover,
          &:focus {
            text-decoration: none;
            color: var(--blue);
          }
        }

        &.active {
          a {
            color: var(--orange);
          }
        }
      }
    }

    &--secondary {
      background-color: rgba(255, 255, 255, .95);
      border-bottom: 0;
      position: sticky;
      top: -1px;
      z-index: 20;

      #{$this}__list {
        &__item {
          font-size: 1rem;
        }
      }
    }
  }

  .footer {
    border-top: 2px solid var(--light-gray);
    margin-top: 120px;
    padding: 120px 0;

    h2 {
      display: inline-block;
      font-size: 3.5rem;
      margin-top: 0;
      margin-bottom: 60px;
    }

    h3 {
      color: black;
      font-weight: 600;
      margin: 0 0 0.75rem;
    }

    &__content {
      font-weight: 400;

      @media screen and (min-width: 992px) {
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    &__grid {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 60px 10px;
      max-width: 100%;

      p {
        margin: 0 0 0.75rem;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          margin-bottom: 1rem;
          font-size: 1.125rem;
          font-weight: 400;

          a {
            color: black;
            display: flex;
            align-items: center;
            align-content: center;

            svg {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }

    &__nav-one {
      grid-area: 1 / 1 / 2 / 4;
    }

    &__nav-two {
      grid-area: 1 / 4 / 2 / 8;
    }

    &__nav-three {
      grid-area: 2 / 1 / 3 / 4;
    }

    &__nav-four {
      grid-area: 2 / 4 / 3 / 8;
    }

    &__nav-form {
      grid-area: 1 / 8 / 2 / 13;
    }

    &__country-lang-picker {
      grid-area: 2 / 8 / 3 / 13;

      select {
        font-size: 1rem;
        background-color: var(--light-gray);
        color: black;
        border-color: transparent;
        font-family: var(--font-sans);
        padding: 5px 10px;

        &:last-child {
          width: 25ch;
        }
      }
    }

    &__secondary-nav {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: space-between;
      margin-top: 60px;

      ul {
        display: flex;
        list-style: none;
        gap: 1rem;
        margin: 0;
        padding: 0;

        li {
          a {
            display: block;
            color: black;
            font-size: 0.875rem;
            line-height: 1.5;
          }
        }
      }

      &__brand {
        display: flex;
        align-items: center;
        align-content: center;
        gap: 1rem;
        font-size: 0.875rem;
        line-height: 1.5;

        .logo {
          gap: 2px;
          height: 21px;
          width: 45px;

          &__left,
          &__right {
            gap: 3px;

            span {
              width: 1px;
              height: 100%;
            }
          }

          &__right {
            span {
              height: 1px;
              width: 100%;
            }
          }
        }
      }
    }

    .signup-form {
      display: flex;

      input[type=text] {
        background-color: var(--light-gray);
        border-color: transparent;
        padding: 10px;
        font-family: var(--font-sans);
        flex: 1;
        font-size: 1rem;
      }

      input[type=submit] {
        background-color: var(--blue);
        color: white;
        border-color: transparent;
        font-family: var(--font-sans);
        padding: 10px 20px;
        font-size: 1rem;
        cursor: not-allowed;
      }
    }
  }

  .hero {
    display: block;

    img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
      aspect-ratio: 16 / 9;
    }

    h1 {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      color: var(--burnt-orange);
      font-weight: 600;
      font-size: 8rem;
    }

    &__img-container {
      margin: 0 auto;
      max-width: 1200px;
      position: relative;
    }
  }

  .text-container {
    display: block;
    margin: 100px auto;
    padding: 0 15px;

    @media screen and (min-width: 992px) {
      margin: 120px auto;
      padding: 0;
      max-width: 80ch;
    }
  }

  .img-container {
    display: block;
    margin: 0 auto;

    @media screen and (min-width: 992px) {
      max-width: 1100px;
    }

    img {
      width: 100%;
      aspect-ratio: 16 / 9;
    }
  }

  .video-container {
    text-align: center;

    .caption {
      margin: 0 auto;
      max-width: 768px;
      text-align: left;
      font-size: 0.875rem;
      margin-top: 0.5rem;
      font-weight: 600;
    }
  }

  .video-player {
    display: inline-block;
    margin: 0 auto;
    position: relative;

    img {
      aspect-ratio: 16 / 9;
      object-fit: cover;
      max-width: 768px;
      width: 100%;
    }

    button {
      display: inline-block;
      border-color: transparent;
      background-color: var(--blue);
      height: 100px;
      width: 100px;
      border-radius: 9999px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;

      &::after {
        content: '';
        color: white;
        width: 0;
        height: 0;
        display: inline-block;

        border-top: 16px solid transparent;
        border-bottom: 16px solid transparent;
        border-left: 30px solid white;
        margin-left: 8px;
      }
    }
  }

  .grid-background-right {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    max-width: 100%;

    &__background {
      grid-area: 1 / 6 / 8 / 13;
      background-color: var(--yellow);
    }

    &__img-container {
      &__left {
        grid-area: 2 / 2 / 7 / 7;

        img {
          aspect-ratio: 1 / 1;
        }
      }

      &__right {
        grid-area: 3 / 8 / 6 / 12;

        img {
          aspect-ratio: 4 / 3;
        }
      }
    }
  }

  .grid-background-left {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    max-width: 100%;

    &__background {
      grid-area: 1 / 1 / 10 / 8;
      background-color: var(--green);
    }

    &__img-container {
      &__left {
        img {
          aspect-ratio: 4 / 3;
        }

        &--first {
          grid-area: 2 / 2 / 5 / 6;
        }

        &--second {
          grid-area: 6 / 2 / 9 / 6;
        }
      }

      &__right {
        grid-area: 3 / 7 / 8 / 12;

        img {
          aspect-ratio: 1 / 1;
        }
      }
    }
  }

  .grid-background-center {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    max-width: 100%;

    img {
      aspect-ratio: 1 / 1;
    }

    &__background {
      background-color: var(--purple);
      grid-area: 1 / 3 / 8 / 11;
    }

    &__img-container {
      &__left {
        grid-area: 3 / 2 / 6 / 6;

        img {
          aspect-ratio: 4 / 3;
        }
      }

      &__right {
        grid-area: 2 / 8 / 7 / 13;
      }
    }
  }

  .call-to-action {
    margin: 0 auto;

    @media screen and (min-width: 992px) {
      max-width: 1100px;
    }

    &__content {
      display: flex;
    }

    &__column {
      flex: 1 1 50%;

      img {
        aspect-ratio: 1 / 1;
        height: 100%;
      }

      &:last-child {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--light-blue);
        padding: 100px;
        font-size: 1.875rem;

        p {
          margin-top: 0;
        }

        a {
          display: flex;
          align-items: center;
          align-content: center;
          font-size: 1.875rem;
          font-weight: 500;
          gap: 0.5rem;

          stroke: var(--blue);
        }

        svg {
          width: 24px;
          height: 24px;
        }
      }
    }
  }

</style>
